.heading{
	text-align:center;
	font-size: 18px;
	line-height: 26px;
	color:$brand-color-secondary;
	margin: 0 0 80px;
	& h2{
		font-size: 12px;
		line-height: 18px;
		color:$brand-color-secondary;
		margin:0 0 42px;
	}
}
.features{
	background:$gray-base;
	padding:110px 0 50px;
	@media only screen and (max-width: 767px){
		padding:30px 0 20px;
	}
	&-testing-block{
		position: absolute;
	    top: 40px;
	    right: 0;
	    z-index: 1;
	    background: #fff;
	    max-width: 388px;
	    padding: 40px 48px 0 35px;
	    @media only screen and (max-width: 767px){
	    	position: static;
	    	padding:40px 15px 0;
	    }
	    & .features-content-item{
	    	width: 100%;
	    }
	    & .btn{
			@include buttons(26px, 30px);
			width: 388px;
			margin:0 0 0 -35px;
			text-align:center;
			 @media only screen and (max-width: 767px){
			 	width: 100%;
			 	margin: 0;
			 }
		}
	}
	&-content{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		&-item{
			margin: 0 0 52px;
		    display: flex;
		    justify-content: space-around;
		   	width: 29%;
		   	@media only screen and (max-width: 767px){
		   		width: 100%;
		   	}
		    &-icon{
		    	margin: 19px 24px 0 0;
		    }
		    & h2{
				margin:0 0 30px;
				text-transform: none;
			}
		}
	}
}
.features-content.features-wtht-icons{
	position: relative;
	& .features-content-item{
		display:inline-block;
		vertical-align:top;
		width: 33%;
		padding:0 25px 37px; 
		@media only screen and (max-width: 767px){
			width: 100%;
			padding:0;
			margin:0 0 20px;
		}
		& p{
			@media only screen and (max-width: 1023px){
				margin:0 0 20px;
			}
		}
	}
}