.ipad-block{
	background: $gray-base;
	padding: 50px 0 168px;
	position: relative;
	@media only screen and (max-width: 767px){
		padding:20px 0 30px;
	}
	&-content{ 
		max-width:1368px;
		margin:0 auto;
		padding:127px 0 127px 127px;
		background: $brand-color-secondary;
		font-size:14px;
		line-height:22px;
		color:#fff;
		@media only screen and (max-width: 767px){
			padding:30px 0 30px 30px;
		}
		&-text{
			max-width: 550px;
			@media only screen and (max-width: 767px){
				width: 100%;
			}
			& h1{
				font-size:72px;
				line-height:80px;
				font-weight: normal;
				font-family: 'montserrathairline';
				margin:0 0 50px;
				@media only screen and (max-width: 767px){
					font-size: 30px;
					line-height: 38px;
					margin:0 0 20px;
				}
			}
			& p{
				max-width: 405px;
				margin:0 0 167px;
				@media only screen and (max-width: 767px){
					margin:0 0 40px;
				}
			}
			& .btn-inverse{
				@include buttons-inverse;
			}
		}
	}
	&-img{
		position: absolute;
		bottom:13px;
		right:0;
		max-width: 770px;
		@media only screen and (max-width: 767px){
			position: static;
		}
		&-inner{
			position: relative;
			& .owl-carousel-holder{
				position: absolute;
				top:19px;
				right:-44px;
				max-width: 689px;
				height: 586px;
			}
			& .owl-carousel{
				position: relative;
				& .owl-controls{
						& .owl-nav{
							& .owl-prev{
								position: absolute;
								top: 47%;
    							left: -214px;
								display: inline-block !important;
								text-indent: 9999px;
								width: 71px;
								height: 70px;
								background-image:url(../images/sprite_ipad.png);
								&:hover,
								&:active{
									background-position:-73px 0;
								}
							}
						}
					}
				& .owl-item{
					height: auto;
				}
			}
		}
	}
}